html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  list-style-type: none;
  text-decoration: none;
  font-family: Roboto;
}

body {
  margin: 0 auto;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f9f7f4;
  text-align: center;
  color: #1b1f2b;
  max-width: 600px;
  width: 100%;
}

code {
  font-family: source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  margin: 50px 0;
  font-weight: 600;
  font-size: 50px;
  line-height: auto;
  letter-spacing: auto;
}

.form {
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
}

.add-task {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.add-task__input {
  width: 100%;
  margin-right: 10px;
  padding: 15px;
  padding-left: 50px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: auto;
  color: #1b1f2b;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  background-color: #f9f7f4;
  outline: solid rgba(0,0,0,0);
  transition: .4s ease;
}

.add-task__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f9f7f4 inset;
}

.add-task__input:focus-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #f4f0e9 inset;
}

.add-task__input:hover {
  background-color: #f4f0e9;
}

.add-task__input:focus-visible {
  background-color: #f4f0e9;
  outline: solid #a6a6a6;
}

input::-moz-placeholder {
  font-style: italic;
  color: #a6a6a6;
}

input::placeholder {
  font-style: italic;
  color: #a6a6a6;
}

.button {
  padding: 15px;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  letter-spacing: auto;
  border: none;
  border-radius: 10px;
  color: #fff;
  background-color: #ffa82e;
  transition: .3s background-color;
  cursor: pointer;
}

.button:hover {
  background-color: #e87c00;
}

.button:active {
  background-color: #e85900;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.list__task {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #f4f0e9;
  border-radius: 10px;
  list-style-type: none;
}

.list__task:hover .task__del-btn {
  opacity: 1;
}

.list__task .input-value {
  padding-left: 6px;
  margin: -2px;
  width: 100%;
  font-weight: 400;
  font-size: 22px;
  line-height: 142%;
  letter-spacing: auto;
  border-radius: 6px;
  cursor: pointer;
}

.list__task .input-value:focus-visible {
  border: 1px solid #a6a6a6;
  outline: none;
}

.list__task .task__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.list__task .task__custom-checkbox {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: rgba(0,0,0,0);
  border: #1b1f2b solid 1px;
  border-radius: 50%;
  cursor: pointer;
}

.list__task .task__custom-checkbox::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 8px;
  height: 8px;
  transition: .2s transform;
  transform: translate(-50%, -50%) scale(0);
}

.list__task .task__custom-checkbox--hide {
  position: relative;
  z-index: -1;
}

.list__task .task__checkbox:checked+.task__custom-checkbox::before {
  transform: translate(-50%, -50%) scale(1);
  background-image: url("../img/Rectangle.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.list__task .task__title {
  padding-left: 6px;
  font-weight: 400;
  font-size: 22px;
  line-height: 142%;
  letter-spacing: auto;
  transition: .4s color;
  cursor: pointer;
}

.list__task .task__title--checked {
  text-decoration: line-through;
  color: #a6a6a6;
  transition: .4s color;
  cursor: pointer;
}

.list__task .task__del-btn {
  position: absolute;
  right: 10px;
  top: 0;
  padding: 0;
  padding-right: 6px;
  font-weight: 100;
  font-size: 35px;
  line-height: auto;
  letter-spacing: auto;
  color: #1b1f2b;
  background: rgba(0,0,0,0);
  border: none;
  opacity: 0;
  transition: .5s opacity;
  cursor: pointer;
}

.down-menu {
  display: none;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.down-menu .count {
  display: block;
  width: 110px;
  font-size: 14px;
}

.down-menu .btn-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.down-menu .btn-container .filter-btn {
  padding: 8px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 142%;
  letter-spacing: auto;
  color: #fff;
  background-color: #ffa82e;
  border-radius: 5px;
  border: none;
  transition: .3s background-color;
  cursor: pointer;
}

.down-menu .btn-container .filter-btn:hover {
  background-color: #e87c00;
}

.down-menu .btn-container .btn-focus {
  background-color: #e85900;
}

.clear-btn {
  position: relative;
  width: 110px;
  padding: 0;
  font-size: 14px;
  color: #1b1f2b;
  background-color: rgba(0,0,0,0);
  border: none;
  cursor: pointer;
}

.clear-btn--hide {
  z-index: -1;
}

.checkbox-checked-all-task {
  position: absolute;
  z-index: -1;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.custom-checkbox-checked-all-task {
  position: absolute;
  top: 16px;
  left: 14px;
  width: 24px;
  height: 24px;
  background-image: url("../img/ic-dropdown.svg");
  filter: invert(2) grayscale(1000%) contrast(0.6);
  transition: .3s filter;
  cursor: pointer;
}

@media (max-width: 768px) {
  .form {
    padding: 20px;
  }

  .add-task__input {
    padding-left: 40px;
    font-size: 14px;
  }

  .button:hover {
    background-color: #ffa82e;
  }

  .button:active {
    background-color: #e85900;
  }

  .list__task .task__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
    letter-spacing: auto;
  }

  .list__task .task__del-btn {
    opacity: 1;
  }

  .list__task .task__del-btn {
    font-weight: 100;
    font-size: 30px;
    line-height: auto;
    letter-spacing: auto;
  }

  .down-menu {
    position: relative;
    justify-content: space-around;
    margin-top: 60px;
  }

  .down-menu .count {
    float: left;
  }

  .down-menu .btn-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }

  .down-menu .btn-container .filter-btn:hover {
    background-color: #e85900;
  }

  .clear-btn {
    float: right;
  }

  .custom-checkbox-checked-all-task {
    transform: scale(0.7);
    left: 10px;
  }
}